
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@700&family=Noto+Sans+Avestan&family=Oswald&family=Poppins&family=Roboto+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@700&family=Noto+Sans+Avestan&family=Oswald&family=Poppins&family=Roboto+Mono:wght@500&family=Stalinist+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Righteous&family=Stalinist+One&display=swap');


*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background-image: url(./../img/login-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-attachment: fixed;
}

/* login */
.login{
    /* border: 2px solid; */
    width: 80%;
    position: relative;
    height: 75%;
    top: 15%;
    left: 10%;
    border-radius: 32px;
    box-shadow: 15px 15px 40px rgba(112, 144, 176, 20%);
    /* background-color: #fff; */
}
.login .log-img{
    background-color: #fff;
    height: 100%;
    width: 64%;
    border-radius: 32px 0px 0px 32px;
}
.login .log-img img{
    width: 30%;
    position: absolute;
    left: 10%;
    top: 30%;
    /* bottom: auto; */
}
.login form{
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 15px;
    justify-content: center;
    position: absolute;
    right: 0%;
    bottom: 0%;
    top: 0%;
    border-radius: 0px 32px 32px 0px;
    padding: 5%;
    backdrop-filter: blur(20px);
}
.login h1{
    font-family: 'Righteous', cursive;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 55px;
}
.login form input{
    padding: 3%;
    margin: 8px;
    border: #28104e 3px solid;
    border-radius: 8px;
    background: none;
}
.login form input::placeholder{
    color: #28104e;
    font-size: 15px;
}


/* button */
.login form button{
    padding: 3%;
    margin: 8px;
    margin-top: 8%;
    border-radius: 25px;
    border: none;
    background-color: #28104e;
    position: absolute;
    bottom: 25%;
    color: #deacf5;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    width: 30%;
}
.login form button:hover{
    background-color: #6237a0;
    color: #28104e;
    font-size: 17px;
    font-weight: 600;
    transform: translateY(3px);
    box-shadow: 0px 10px 40px rgba(191, 141, 214 2%);
    transition: all 0.2s;
    
}


/* tulisan yg d bawah button */
.login h4{
    font-weight: 600;
    margin: 9%;
    position: relative;
    bottom: -17%;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}
.login h4 a{
    text-decoration: none;
    color: #28104e;
    font-size:16px;
}
@media screen and (max-width: 768px){
    .login h1{
        font-size: 35px;
    }
    .login form{
      padding-right: 4%;
    }
    .login form button{
        font-size: 15px;
        font-weight: 300;
        bottom: 30%;
        width: 35%;
    }
    .login form input{
        width: 90%;
        margin: 4px;
    }
    .login h4{
        font-size: 14px;
        font-weight: 400;
    }
    
    .login .log-img img{
        top: 40%;
        width: 40%;
    }
}
@media screen and (max-width: 650px){
    nav{
        height: 490px;
    }
    nav img{
        width: 40%;
        position: absolute;
        top: 10%;
    }
    .login{
        top: 35%;
        bottom: 20%;

    }
    .login form{
        width: 65%;
        align-items: center;
    }
    form input{
        
        width: 100%;
        margin: 120px auto;
    }
    
}

@media screen and (max-width: 456px){


    /* login  */
    .login{
        width: 70%;
        top: 17%;
        left: 12%;
        right: 12%;
        height: 50%;
        box-shadow: none;
        box-sizing: border-box;
    }
    .login form{
        left: 0%;
        width: 95%;
        border-radius: 32px 32px 32px 32px;
    }
    .login form input{
       width: 90%;
    }
    .log-img{
        display: none;
    }
    .login h1{
        font-size: 35px;
    }
    .login form button{
        position: relative;
        left: -30%;
        top: -3%;
        bottom: 5%;
        font-size: 15px;
        width: 40%;
    }
    .login h4{
        position: absolute;
        bottom: -50%;
        font-size: 17px;
        font-weight: 600;
    }
    .login h4 a{
        font-size: 17px;
        font-weight: 600;
    }
}